
#myTable2{
    position: absolute;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    overflow: scroll;
    
  }
  
  #myTable2 th, #myTable td {
    text-align: center;
    padding: 12px;
    
  }
  
  #myTable2 tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable2 tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
  #mytable2 tr td {
  text-align: center;
  }
  