
#myTable2{
    position: absolute;
    border-collapse: collapse;
    width: 50%;
    height: 30%;
    right: 25%;
    border: 1px solid rgb(158, 29, 29);
    font-size: 18px;
    overflow: scroll;
    top: 30%;

  }
  
  #myTable2 th, #myTable td {
    color: rgb(62, 0, 121);
    padding: 10px;
    margin: 50px;
    
  }
  
  #myTable2 tr {
    border-bottom: solid 1px rgb(146, 146, 146);
  }
  
  #myTable2 tr.header, #myTable tr:hover {
    background-color: #801c1c;
  }
  #mytable2 tr td {
  text-align: center;
  }
  #mytable2 input {
      width: 400px;
      height: 40px;
  }

  #mytable2 button {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-style: normal;
      width: 200px;
      height: 30px;
      color: rgb(83, 36, 36);
  }

  